CREATE FUNCTION sup_number_of_contracts (@SupID INT)

/*
Количество выполненных контрактов заказчиком
*/

RETURNS INT
AS
BEGIN
  DECLARE @num_of_all_finished_contracts INT
  
  SET @num_of_all_finished_contracts = (
      SELECT COUNT(cntr.ID)
      FROM f_OOS_Value AS val
      INNER JOIN DV.d_OOS_Suppliers AS sup ON sup.ID = val.RefSupplier
      INNER JOIN DV.d_OOS_Contracts AS cntr ON cntr.ID = val.RefContract
      LEFT JOIN DV.d_OOS_ClosContracts As cntrCls ON cntrCls.RefContract = cntr.ID
      INNER JOIN DV.fx_OOS_ContractStage AS cntrSt ON cntrSt.ID = cntr.RefStage
      WHERE sup.ID = @SupID AND cntrSt.ID IN (3, 4)
  )
  
  RETURN @num_of_all_finished_contracts
END